@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-BookItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-MediumItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-SemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-SemiBoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-BoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Black.woff2') format('woff2');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-BlackItalic.woff2') format('woff2');
    font-weight: 950;
    font-style: italic;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-Heavy.woff2') format('woff2');
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('assets/font/Axiforma-HeavyItalic.woff2') format('woff2');
    font-weight: 1000;
    font-style: italic;
}

body {
    font-family: 'Axiforma', sans-serif;
    color: white;
}
